<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418943871887-5ea67uuti4g4ntcvnrgdlo669i86j92v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418943871887-5ea67uuti4g4ntcvnrgdlo669i86j92v</string>
	<key>API_KEY</key>
	<string>AIzaSyB7WFzZenz3apII9FZViihVXGJ8OszEFdM</string>
	<key>GCM_SENDER_ID</key>
	<string>418943871887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oneNoteClone</string>
	<key>PROJECT_ID</key>
	<string>one-note-bb1df</string>
	<key>STORAGE_BUCKET</key>
	<string>one-note-bb1df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418943871887:ios:b7a5f3b0a9d803f97639fa</string>
</dict>
</plist>